

header {
    font-size: 25px;
    background-color: rgba(80, 94, 224, 1);
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

