.content{

}

.name{
    text-align: center;

}

.lesson_bar{
    width: 350px;        /* Увеличение ширины кнопки */
    height: 80px;        /* Увеличение высоты кнопки */
    border-radius: 15px;
    margin: 15px;
    font-size: 30px;
    background-color: #505EE0;
    backface-visibility: inherit;
    color: #ffffff;
}

.lesson_bar_content{
    text-align: center;
    color: #ffffff;
}